// container navbar => parent
.navbar.navbar-expand-lg.bg-dark {
  // container title and list
  .container-fluid {
    // title
    .navbar-brand {
      color: #fff;
      font-size: 2em;
    }
    .collapse.navbar-collapse {
      // ul
      .navbar-nav.ms-auto.me-2.mb-lg-0 {
        li {
          a {
            transition-duration: 0.5s;
            color: #fff;
            margin: 5px;
            &.active,
            &:hover {
              background-color: #ddd;
              font-size: 1.2em;
              color: black;
              border-radius: 23px;
              transition-duration: 0.5s;
            }
          }
        }
      }
    }
  }
}
