.card-image{
    height: 300px;
    
}
.images-1{
    text-align: center;
    display: flex;
    width: 1500px;
}
.firstbrand{


    border-radius: 10px;
    height: 500px;
}
/* .cards{
    width: 1500px;
} */
.img-card{
    width :250px;
}